/* ====== OSNOVNO ====== */
/*TEST PROMENA*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5efe6;
  color: #2b2b2b;
  line-height: 1.6;
}

/* ====== LOGO / HEADER ====== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f5efe6;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 14px;
}

.nav-btn {
  background-color: #c8a98d;
  padding: 8px 14px;
  border-radius: 20px;
  color: white;
}

.logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 50%;
  background-color: #f5efe6;
  padding: 8px;
}


/* ====== HERO ====== */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8dccd;
  padding: 20px;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  margin-bottom: 15px;
  max-width: 700px;
}

.hero-text p {
  max-width: 550px;
  margin: 0 auto 25px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  padding: 12px 22px;
  background-color: #c8a98d;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #b89578;
}

/* ====== SECTIONS ====== */
section {
  padding: 70px 20px;
  text-align: center;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  margin-bottom: 20px;
}

/* ====== HOW IT WORKS ====== */
.steps {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
  margin: auto;
}

/* ====== WHY CHOOSE ====== */
.why ul {
  list-style: none;
  max-width: 600px;
  margin: auto;
}

.why li {
  margin-bottom: 10px;
}

/* ====== GALLERY ====== */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 40px auto 0;
}

.gallery-grid img {
  width: 100%;
  height: 360px;   /*  VEĆA VISINA */
  object-fit: cover;
  border-radius: 30px;
  transition: 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

/* ====== PRICE ====== */
.price {
  background-color: #e8dccd;
}

/* ====== ABOUT ====== */
.about p {
  max-width: 800px;
  margin: auto;
  white-space: pre-line;
}

/* ====== FAQ ====== */
.faq p {
  max-width: 700px;
  margin: 10px auto;
}

/* ====== CONTACT ====== */
.contact {
  background-color: #e8dccd;
}

/* ====== FOOTER ====== */
.footer {
  padding: 30px;
  text-align: center;
  font-size: 14px;
}

.contact a {
  color: #2b2b2b;
  text-decoration: none;
  border-bottom: 1px solid #c8a98d;
  transition: 0.3s;
}

.contact a:hover {
  opacity: 0.7;
}

.details {
  max-width: 500px;
  margin: 20px auto;
  font-size: 14px;
  line-height: 2.2;
  text-align: left;
  letter-spacing: 0.2px;
}

.details a {
  color: #2b2b2b;
  text-decoration: none;
  border-bottom: 1px solid #c8a98d;
}

.details a:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery-grid img {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .details {
    max-width: 90%;
  }
}